<html>
<head>
  <title> Menu </title>
  <link rel="stylesheet" 
  href="{{ url_for('static', filename='style.css') }}">
</head>

<body bgcolor="#F0FFF0"> 

  {%extends "NAVBARSPV.html"%}
  {%set active_page="home"%} 

{%block content %}

<br><br><br><br><br><br>
<center>
  <div class="card" onclick="window.location.href='{{ url_for( 'listRequestSPV')}}';" style="background-color: #d3f4ff;">
    <div class="containerCard">
      <h4><b>Available Task(s)</b></h4> 
      <hr>
      <p>{{availTask['data']['normal']}} Normal</p> 
      <p>{{availTask['data']['important']}} Important</p> 
      
    </div>
  </div>


  <div class="card" onclick="window.location.href='{{ url_for( 'listTaskSPV')}}';" style="background-color: #d3f4ff;">
    <div class="containerCard">
      <h4><b>Ongoing Task(s)</b></h4> 
      <hr>
      <p><b style="color: red;">{{OngoingTask}}</b> task(s) to be finished.</p> 
      
    </div>


  </div>

  <div class="card" onclick="window.location.href='{{ url_for( 'historyTaskSPV')}}';" style="background-color: #d3f4ff;">
    <div class="containerCard">
      <h4><b>Total Finished</b></h4> 
      <hr>
      <p>You have finished <b>{{count}}</b> task(s).</p> 
    </div>
  </div>

  <div class="card" onclick="window.location.href='{{ url_for( 'runScheduleSPV')}}';" style="background-color: #d3f4ff;">
    <div class="containerCard">
      <h4><b>Schedule Today</b></h4> 
      <hr>
      <p>{{reportToday}} Report(s)</p>
      <p>{{runSched['data']['successReport']}} Success</p> 
      <p>{{runSched['data']['failedReport']}} Failed</p> 
    </div>
  </div>
</center>

{%endblock%}

{%block script%}
<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}

var span = document.getElementById('time');

function time() {
  var d = new Date();
  var s = d.getSeconds();
  var m = d.getMinutes();
  var h = d.getHours();
  span.textContent = h + ":" + m + ":" + s;
}

setInterval(time, 1000);
</script>



</body>
</html>
{%endblock%}